@page "/penta2"
@inject NavigationManager Nav
@inject ILocalStorageService localStorage
@inject ISnackbar snackBar
@inject IDialogService Dialog
@using System.Net.Http.Headers
@inject HttpClient httpClient

<PageTitle>Penta 2nd Dose</PageTitle>

<style>
    .mud-table-cell-custom-group {
        font-weight: 500;
    }

    .mud-table-cell-custom-group-footer {
        padding-bottom: 50px;
        text-align: right;
    }
</style>

<MudToolBar>
    <h5>Penta 2nd Dose</h5>
</MudToolBar>

<MudToolBar>
    <MudButton Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" @onclick="(e => Refresh())">Refresh</MudButton>&nbsp;
    <MudSpacer /> <MudSpacer />
    <MudTextField @bind-Value="txtchild" Clearable TextChanged="Search" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Tertiary" Label="Search" Variant="Variant.Outlined" Margin="Margin.Dense">
    </MudTextField>
</MudToolBar>
@if (immunizationList != null && immunizationList.Any())
{
<MudTable Hover="true" Breakpoint="Breakpoint.Sm" Height="500px" FixedHeader="true"
          Items="@immunizationList"
          GroupBy="@_groupDefinition"
          GroupHeaderStyle="background-color:var(--mud-palette-background-grey)"
          GroupFooterClass="mb-4"
          Dense="true"
          @ref="_tableRef">
    <ColGroup>
        <col style="width: 60px;" />
        <col />
        <col />
        <col />
        <col />
        <col />
    </ColGroup>
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Status</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <GroupHeaderTemplate>
        <MudTh Class="mud-table-cell-custom-group" colspan="5">@($"{context.GroupName}: {context.Key}") </MudTh>
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.fullname</MudTd>
        <MudTd DataLabel="Status">
            @if (context.status == "Scheduled")
            {
                <MudChip Color="Color.Primary" Size="Size.Small">@context.status</MudChip>
            }
            else
            {
                <MudChip Color="Color.Success" Size="Size.Small">@context.status</MudChip>
            }
        </MudTd>
        <MudTd>
                <MudTooltip Text="Edit information" Arrow="true" Placement="Placement.Right">
                    <MudFab Color="Color.Warning" StartIcon="@Icons.Material.Filled.Edit" @onclick="(e => UpdateImmunization(context.immunizationID))" Size="Size.Small" />
                </MudTooltip>
                <MudTooltip Text="Done" Arrow="true" Placement="Placement.Right">
                    <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Done" Size="Size.Small" />
                </MudTooltip>
        </MudTd>
    </RowTemplate>
</MudTable>

<MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" Class="mt-3" OnClick="@((args) => _tableRef?.ExpandAllGroups())">Expand all groups</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Small" Class="mt-3 ml-3" OnClick="@((args) => _tableRef?.CollapseAllGroups())">Collapse all groups</MudButton>
}
else
{
   <p1>No Records Found</p1>
}

@code {
    private MudTable<immunization> _tableRef;

    private TableGroupDefinition<immunization> _groupDefinition = new()
        {
            GroupName = "Date",
            Indentation = false,
            Expandable = true,
            IsInitiallyExpanded = true,
            Selector = (e) => e.date?.ToString("MMMM dd, yyyy")
        };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await loadBCG();
        }
    }
    private async Task Refresh()
    {
        await loadBCG();
    }

    private string search { get; set; } = "";
    private string txtchild { get; set; } = "";

    private async Task Search()
    {
        if (string.IsNullOrWhiteSpace(txtchild))
        {
            StateHasChanged();
            return;
        }
        using (HttpClient client = new HttpClient())
        {
            client.BaseAddress = new Uri($"{Nav.BaseUri}");
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer",
            await localStorage.GetItemAsStringAsync("token"));
            HttpResponseMessage response = await client.GetAsync($"api/immunization/SearchPenta2?search={txtchild}");
            if (response.IsSuccessStatusCode)
            {
                string contentrespose = await response.Content.ReadAsStringAsync();
                immunizationList = JsonConvert.DeserializeObject<immunization[]>(contentrespose);
                StateHasChanged();
            }
            else
            {
                snackBar.Add($"Warning: {response.StatusCode}", Severity.Warning);
            }
        }
    }

    private async Task loadBCG()
    {
        try
        {
            using (HttpClient client = new HttpClient())
            {
                client.BaseAddress = new Uri($"{Nav.BaseUri}");
                client.DefaultRequestHeaders.Authorization = new
                AuthenticationHeaderValue("Bearer", await
                localStorage.GetItemAsStringAsync("token"));
                HttpResponseMessage response = await client.GetAsync($"api/Immunization/Penta2");
                if (response.IsSuccessStatusCode)
                {
                    string contentrespose = await response.Content.ReadAsStringAsync();
                    immunizationList = JsonConvert.DeserializeObject<immunization[]>(contentrespose);
                    StateHasChanged();
                }
                else
                {
                    snackBar.Add($"Warning: {response.StatusCode}", Severity.Warning);
                    StateHasChanged();
                }
            }
        }
        catch (Exception ex)
        {
            //
        }
    }

    immunization[]? immunizationList;
    [Parameter] public child _child { get; set; } = new child();
    private async Task UpdateImmunization(string id)
    {
        immunization[]? _imm;
        var ximm = from s in immunizationList where s.immunizationID == id select s;
        _imm = ximm.ToArray();
        _child.fullname = _imm[0].fullname;
        _child.childID = _imm[0].childID;
        var parameters = new DialogParameters();
        var update = immunizationList.FirstOrDefault(_ => _.immunizationID == id);
        parameters.Add("ximm", update);
        parameters.Add("xchild", _child);
        var dialog = await Dialog.Show<UpdateImmunization>("Update BCG", parameters).Result;
    }
}